<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header" style="display: table-cell; vertical-align: middle;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index" style="display: table-cell; vertical-align: middle;">
            <i class="fa fa-home" aria-hidden="true" style="font-size:35px;"></i> &nbsp;
            <font size="4">ApartmentList Friday Luncheon</font>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          {% if user %}
          <ul class="nav navbar-nav" style="float: right">
            <li class="active">
              <a href="#" class="navbar-nav pull-right" style="font-size:15px">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                {{ user }}
              </a>
            </li>
          </ul>
          <input type="hidden" id="user" value="{{ user }}" >
          <input type="hidden" id="token" value="{{ token }}">
          {% endif %}
        </div>
      </div>
    </div>
<hr>
<br>
<br>