<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  {% include "_base.html" %}
  <body ng-controller="APPController as appctrl">
    {% include "_header.html" %}
    <div class="container" align="center">
      <div class="col-md-12">
        <button ng-class="{true: 'btn btn-success btn-lg', false: 'btn btn-primary btn-lg'}[isActive]" ng-click="generate()">{$ generate_status $}</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="well well-lg" style="width: 40%;">
          <form>
            <input placeholder="Enter Email" type="email" name="email" ng-model="email" style="width: 300px;">
            <br/>
            <button ng-disabled=" email=='' " type="button" class="btn btn-success btn-lg" ng-click="find_group()" style="margin-top: 20px;"">Find my Group</button>
          </form>
        </div>
        <p ng-repeat="email in group">{$ email $}</p>
      </div>
    </div>
  </body>
</html>
